:root {
  --main-color: #6c63ff;
  --two-color: #272142;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f9f7fe;
}

header {
  max-width: 1135px;
  margin: 0 auto;
  text-align: center;
  margin-top: 37px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.hero {
  padding-top: 175px;
  padding-bottom: 270px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: var(--two-color);
  margin-top: 20px;
}

.main-button {
  background-color: var(--main-color);
  border-radius: 4px;
  border: 2px solid var(--main-color);
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  width: 200px;
  padding: 18px 30px;
}

.hero button {
  margin-top: 50px;
}

.section-text {
  font-size: 18px;
  text-align: center;
  margin: 115px 70px;
}
h3 {
  font-size: 64px;
  font-weight: bold;
  margin-top: 60px;
}

.weather-text {
  font-size: 16px;
  line-height: 30px;
  color: var(--two-color);
  opacity: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-app {
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  padding: 18px 30px;
  text-decoration: none;
}
.weather-app:hover {
  text-decoration: none;
  color: var(--main-color);
}

.section-row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer-container {
  padding: 30px 110px;
  background-color: rgb(39, 33, 66, 3%);
  margin-top: 100px;
  margin-bottom: 70px;
}

.footer-text {
  margin: 0;
}

h4 {
  font-size: 48px;
}

.footer-button {
  text-align: center;
  padding-top: 15px;
}

.footer-mail,
.footer-social {
  text-align: center;
  margin-bottom: 30px;
}

.footer-mail a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
}

.footer-social a {
  margin-left: 20px;
  margin-right: 20px;
  width: 40px;
  color: var(--main-color);
  background-color: rgb(39, 33, 66, 3%);
  border-radius: 50%;
  padding: 15px 20px;
}

.footer-social a:hover {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 1000px) {
  h3 {
    font-size: 35px;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .section-row {
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .hero {
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .section-text {
    margin: 10px 50px;
  }
  .footer-container {
    text-align: center;
    padding: 0;
  }

  h4 {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 55px;
  }

  .hero p {
    font-size: 26px;
  }
}
