:root {
  --main-color: #6c63ff;
  --two-color: #272142;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #f9f7fe;
}

header {
  max-width: 1135px;
  margin: 0 auto;
  text-align: center;
  margin-top: 37px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 64px;
  max-width: 825px;
  text-align: start;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 20px;
}

.containerAll {
  margin: 0 auto;
  text-align: center;
}

.container-project {
  max-width: 560px;
  height: 642px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(39, 33, 66, 3%);
  border-radius: 10px;
  overflow: hidden;
}

.foto {
  width: 100%;
  height: auto;
  max-width: 500px;
  transition: 1s;
}

.foto:hover {
  transform: scale(1.03);
}

.main-button {
  background-color: var(--main-color);
  border-radius: 4px;
  border: 2px solid var(--main-color);
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  width: 200px;
  padding: 18px 30px;
  text-decoration: none;
}

.main-button:hover {
  color: #fff;
}

.footer-container {
  padding: 30px 110px;
  background-color: rgb(39, 33, 66, 3%);
  margin-top: 100px;
  margin-bottom: 70px;
}

.footer-text {
  margin: 0;
}

h4 {
  font-size: 48px;
}

.footer-button {
  text-align: center;
  padding-top: 15px;
}

.footer-mail,
.footer-social {
  text-align: center;
  margin-bottom: 30px;
}

.footer-mail a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
}

.footer-social a {
  margin-left: 20px;
  margin-right: 20px;
  width: 40px;
  color: var(--main-color);
  background-color: rgb(39, 33, 66, 3%);
  border-radius: 50%;
  padding: 15px 20px;
}

.footer-social a:hover {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 766px) {
  h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer-container {
    text-align: center;
    padding: 0;
  }

  h4 {
    font-size: 35px;
  }
}
